<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <title>Insert title here</title>
    <style type="text/css">
        body{
            text-align: center;
        }
        .show{
            margin-top:60px;
            align:center;
        }
        #content{
            margin-top:90px;
        }

    </style>

</head>
<body>
<h3 class="show" align="center">发生异常，请联系管理员 ！！！</h3>
</body>
</html>